.app{
  background-color: #222835;
  max-width: 100%;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(217, 68, 18);
}

.function{
  background-color: #222835;
  max-width: 100%;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(217, 68, 18);
}

.class{
  background-color: #222835;
  max-width: 100%;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(217, 68, 18);
}


